apiVersion: v1
kind: Service
metadata:
  name: travelstory-service
  namespace: "2401198"
spec:
  selector:
    app: travelstory
  ports:
    - name: frontend
      protocol: TCP
      port: 80
      targetPort: 80
    - name: backend
      protocol: TCP
      port: 5000
      targetPort: 5000
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: travelstory-ingress
  namespace: "2401198"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: travelstory.imcc.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: travelstory-service
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: travelstory-service
                port:
                  number: 5000
